* {
  /*outline: 1px solid red;*/
}

#root {
  max-width: 1248px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3em;
}

.layout {
  display: grid;
  gap: 1em;
}

.player-container {
  display: grid;
  gap: 1em;
}

.players-control {
  display: flex;
  margin-bottom: 1em;
}

.players-control__buttons {
  display: grid;
  gap: 0.5em;
  font-size: 1.5em;
}

.players-control__buttons > button {
  padding: 0.25em 0.5em;
}

.players-control__player-count {
  margin: auto 0.5em;
  font-size: 3em;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
}

.player-container__add-player {
  margin: auto 0;
  display: grid;
  gap: 1em;
}

.player-container__add-player > button {
  padding: 1em;
}

#community-cards {
  max-width: 520px;
}

#deck > p {
  margin-top: 1em;
}

.table-card-container {
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 4px;
}

.table-card-container > h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.table-card-container.selected > h2 {
  background: white;
  opacity: 0.87;
  color: rgb(204, 43, 29);
  font-weight: bold;
}

.card-container {
  height: 164px;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  overflow: scroll;
  min-width: 222px;
}
